@model squadup.Models.SquadModel

<div class="text-center"> 
    @Html.Partial("_SquadSearchPartial", new FormInputModel.Squad())

    @if (Model != null)
    {
        <h1>Squad Page found for @Model.squadName</h1>
        <button id="copyUrlButton" class="btn btn-outline-success d-flex justify-content-center align-items-center">
            <img src="~/link.svg" width="24px" height="24px" alt="Copy URL"/>
            Share Group Link
        </button>
    }
    else
    {
        @if (TempData["SuccessMessage"] != null)
        {
            <h1>@TempData["SuccessMessage"]</h1>
        }
        else
        {
            <h1>Empty Squad Page</h1>
        }
    }
    <div class="container">
        <div id="squad-container" class="d-flex flex-row align-items-center">
            <h2 class="mt-4">Squad Members found: @Model?.members?.Count</h2>
            @if (Model != null)
            {
                <form id="squadForm">
                    <div class="d-flex justify-content-center mt-4">
                        <div class="form-control d-flex flex-row">
                            <input type="text" id="squadMemberInput" class="form-control" required />
                            <button type="submit" id="addSquadMember" class="btn btn-primary"
                                    data-squad-id="@Model?.squadId">
                                Add Member
                            </button>
                        </div>
                    </div>
                </form>
            }

        </div>
        @* list of members that belong to the squad *@
        <div class="list-group-container">
            @if (Model?.members?.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var member in Model.members)
                    {
                        <li class="list-group-item">
                            <span>@member.memberName</span>
                            <button id="deleteSquadMember" class="btn btn-danger"
                                    data-member-id="@member.memberId">
                                Delete
                            </button>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="mt-4">No members found.</p>
            }
        </div>
    </div>

    @* event section *@
    @* this partial receives a list of events that are part of a squad *@
    @if (Model != null)
    {
        @Html.Partial("_ViewSquadEventListPartial", Model.events)
    } 
    
</div>
