@model List<squadup.Models.EventMemberAttendanceModel>

<!-- Modal -->
<div class="modal fade" id="eventAttendanceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">@Model.FirstOrDefault()?.eventName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body-event">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Member Name</th>
                            <th>Attendance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (EventMemberAttendanceModel item in Model)
                        {
                            <tr>
                                <td>@item.memberName</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="inlineRadioOptions_@item.memberId" id="@item.memberId"
                                            data-event-id="@item.eventId" value="@((int)AttendanceCode.NotAttending)"
                                        @(item.attendanceCode == AttendanceCode.NotAttending ? "checked" : "")>
                                        <label class="form-check-label" for="inlineRadio1">Not Attending</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="inlineRadioOptions_@item.memberId" id="@item.memberId"
                                            data-event-id="@item.eventId" value="@((int)AttendanceCode.Maybe)"
                                        @(item.attendanceCode == AttendanceCode.Maybe ? "checked" : "")>
                                        <label class="form-check-label" for="inlineRadio2">Maybe</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"
                                            name="inlineRadioOptions_@item.memberId" id="@item.memberId"
                                            data-event-id="@item.eventId" value="@((int)AttendanceCode.Attending)"
                                        @(item.attendanceCode == AttendanceCode.Attending ? "checked" : "")>
                                        <label class="form-check-label" for="inlineRadio3">Attending</label>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="saveAttendanceButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>